#first-paragraph{
 padding: 0px;
 background-color: yellow;
}
#second-paragraph{
 margin: 50px;
 background-color: orange;
}
#third-paragraph{
 padding: 100px;
 margin: 50px;
 background-color: pink;
}