h1::before {
    content: "◆";
    color: orange;
}
h1::after {
    content: "◽️";
    /* color: pink; */
    color: pink;
}
p::first-letter {
    font-size: 24px;
    font-weight: bold;
}
h1::after {
    content: "■";
    color: pink;
}
